<!DOCTYPE html>
<html lang="en">
<%- include ('head.ejs') %>

<body>
    <%- include('header.ejs') %>

    <div class= "paragraph">
        <h1 class = bold-heading>About</h1>
        <p class= "para">The Daily Journal's publications carry commercial advertising, and most also contain public notice advertising. Commercial advertising consists of display and classified advertising and the employment advertising marketplace. Public notice advertising consists of many types of legal notices required by law to be published in an adjudicated newspaper of general circulation, including notices of death, fictitious business names, trustee sale notices and notices of governmental hearings. The major types of public notice advertisers are real estate–related businesses and trustees, governmental agencies, attorneys and businesses or individuals filing fictitious business name statements.</p>
    </div>

    
    <%- include('footer.ejs') %>
    
</body>

</html>