<!DOCTYPE html>
<html lang="en">
<%- include ('head.ejs') %>
<body>
    <%- include('header.ejs') %>

    <div class= "paragraph">
        <h1 class = bold-heading>Contact</h1>
        <p class= "para"> A fictitious business name web site, www.DBAstore.com, enables individuals to send their statements to the company for filing and publication and another web site, www.LegalAdStore.com, enables attorneys and individuals to send probate, civil, corporate, public sale and other types of public notices to the company. "CNSB", a division of the company, is a statewide newspaper representative specializing since 1934 in public notice advertising. CNSB places public notices and other forms of advertising with adjudicated newspapers of general circulation, most of which are not owned by The Daily Journal.</p>
    </div>

    <%- include('footer.ejs') %>
</body>
</html>