<div class = "bg-heading d-flex flex-row">
    <h3 class = "main-heading">DAILY JOURNAL</h3>
    <nav class = "nav">
        <a href = '/compose' class="nav-item">PUBLISH</a>
        <a href = '/' class = "nav-item">HOME</a>
        <a href = '/about' class = "nav-item">ABOUT US</a>
        <a href = '/contact' class = "nav-item">CONTACT US</a>
        
    </nav>
</div>